<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.autorealm..</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>autorealm</string>
	<key>CFBundleIconFile</key>
	<string>AutoRealm.icns</string>
	<key>CFBundleName</key>
	<string>AutoRealm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleGetInfoString</key>
	<string>autorealm version 3.0, (c) 2005 AutoRealm Developers</string>
	<key>CFBundleLongVersionString</key>
	<string>3.0, (c) 2005 AutoRealm Developers</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2005 AutoRealm Developers</string>
	<key>LSRequiresCarbon</key>
        <true/>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
